<section class="mainbar" data-ng-controller="UserManager as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wviolet">
                    <div data-cc-widget-header title="{{vm.title}}"></div>
                    <div class="widget-content">
                        <div class="row">
                            <form class="form-horizontal" role="form">
                            <div data-cc-widget-header title="Users"
                                 allow-collapse="true"></div>
                            <div class="widget-content">
                                <div class="row">
                                    <div class="col-md-4">
                                        <ul>
                                            <li>some data</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-info" data-ng-click="vm.createUser()"><i class="fa fa-pencil-square"></i>Create New</button>
                                    <button class="btn btn-info" data-ng-click="vm.updateUser()"><i class="fa fa-pencil-square-o"></i>Update</button>
                                </div>
                            </div>
                            </form>
                        </div>
                        <div class="row">
                            <form class="form-horizontal" role="form">
                                <div data-cc-widget-header title="Share Groups"
                                     allow-collapse="true"></div>
                                <div class="widget-content">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <ul>
                                                <li>some data</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <button class="btn btn-info" data-ng-click="vm.createGroup()"><i class="fa fa-pencil-square"></i>Create New</button>
                                        <button class="btn btn-info" data-ng-click="vm.updateGroup()"><i class="fa fa-pencil-square-o"></i>Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="row">
                            <form class="form-horizontal" role="form">
                                <div data-cc-widget-header title="Unassigned Studies"
                                     allow-collapse="true"></div>
                                <div class="widget-content">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <ul>
                                                <li>some data</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="row">
                            <form class="form-horizontal" role="form">
                                <div data-cc-widget-header title="Trial Sites"
                                     allow-collapse="true"></div>
                                <div class="widget-content">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <ul>
                                                <li>some data</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <div class="widget-foot">
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </section>
</section>

