tr.headerRow {
    background-color: #cccccc;
}

.information {
    padding: 5px;
    line-height: 1.3;
}

.btn {
    margin: 5px;
}

h6 {
    font-weight: bold;
}

div.upload input {
    display: block !important;
    width: 157px !important;
    height: 57px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}

.menuHeader {
    color: #000000;
}

.gridStyle {
    width: auto;
    height: auto;
    min-height: 150px;
    max-height: 250px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.wordWrap {
    word-wrap: break-word;
    white-space: normal;
    overflow: visible;
}

.ngAggregate {
    background-color: #cccccc;
}

input.checkbox {
    vertical-align: middle;
}

input.radio {
    vertical-align: middle;
}

.affix {
    width: 200px;
}

.ngViewport {
    overflow-x: hidden;
    overflow-y: scroll;
}